/* FETCH API */
* {
  background: #000;
  color: #fff;
}
.fetch {
  text-align: center;
}
.menu {
  text-align: center;
}
.menu ul {
  display: flex;
  justify-content: space-around;
}
.menu ul li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 600;
  background: #e1dfdf;
  padding: 0.2rem 1rem;
  color: #222;
  border-radius: 3px;
}
.menu ul li:hover {
  cursor: pointer;
  color: #fff;
  background: #484545;
}
.post #h1 {
  color: #fff;
}
.post-item {
  width: 70%;
  margin: 1rem auto;
  background: #e1dfdf;
  padding: 1rem;
  border-radius: 2px;
}
.post-item:hover {
  background: #acacac;
}

.post-item p,
h1,
h6 {
  background: transparent;
  color: #222;
}

input {
  border: 1;
  margin: 0 0.2rem;
}
button {
  cursor: pointer;
}

.new-post {
  background: transparent;
  display: flex;
  justify-content: space-between;
}
.new-post button {
  cursor: pointer;
  height: 2rem;
  padding: 0;
  margin: 0;
}
